body{
    font-weight: lighter;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(to right, #373b44, #005baa);
    color: #fff;
    font-size: 1.1em;
}
a, small{
    color:#fff;
}

.typ_content {
    color: #fff;
}

.modal{
    color: #333;
}