/* FIXes */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* */


#loader {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#loader::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:80px;height:80px;
    border-style:solid;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid #f5f5f5;
    /*    border-top-color:transparent;*/
    border-width: 4px;
    /*    border-radius:50%; */
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}


.loader {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;



}

.loader:after{
    content:" ";
    border: 16px solid #f3f3f3;
    border-radius: 6%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid #f5f5f5;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 100;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
}


@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#main_nav_top{
    background: linear-gradient(to right, #373b44, #005baa);
}

.btn{
    border-color: #666;
    border-color: #adb5bd;
    width: 100%;
}
.btn img {
    float:left;
}

.btn-info{
    background: linear-gradient(to right, #373b44, #005baa);
}
.btn-success{
    background: linear-gradient(to right, #374439, #28a745);
}

.btn-white{
    background: #fff;
    color: #666;
}

.container {
    padding: 0px !important;
}

#main_cover{
    height: inherit;
}

div#main_body{
    /* padding: 10px; */
    /* margin: 15px; */
}

.navbar-toggler {
    background: #fff;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0.3rem;
    font-size: 1.5rem
}

legend{
    text-align: center;
}


.row{
    margin-right: 0;
    margin-left: 0;
}
#view_dahsboard {
    text-align:center;
    padding-top: 25px;
}
#view_dahsboard button {
    width: 80%;
    margin:auto;
    margin-bottom: 10px;
    text-align: center;
}

img.bicon{
    vertical-align: sub;
    filter: invert(1);
    height: 20px;
    /* text-align: left; */
}

img.bicon-dark{
    vertical-align: sub;
    height: 20px;
    /* text-align: left; */
}

/* cards */
.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}
.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.card h2{
    font-weight:300;
}

.typ_content{
    text-align: center;
    color:#373b44;
}

.typ_content h2{
    font-weight: lighter;

}

div.alert{
    border-radius: 0;
}

div.alert-danger{
    background: linear-gradient(135deg, #373b44, #c8262c);
    border: none;
    color: #fff;
}

div.alert img.bicon{
    height: 35px;
    margin-right: 15px;
    float:left;
}

.fullpage_alert{
    margin: -10px;
    color: #fff;
    padding: 25px;
    text-align: center;
    height: 100vh;
}
.fullpage_alert h2{
    margin:20px 10px;
}

.fullpage_alert_error{
    background: #e7464c;
}

.fullpage_alert_warning{
    background: linear-gradient(to right, #865b0c, #ffa700);
}

.fullpage_alert_info{
    background: linear-gradient(to right, #373b44, #005baa);
}

.fullpage_alert_success{
    background: linear-gradient(to right, #0e3405, #35c804)
}

.fullpage_alert img.fullpage_alert_icon{
    width: 100px;
    height: 100px;
    float:none;
}

#error_view{
    background: #e7464c;
}




.checkbox_list{
    padding: 10px;
}


/* BK */
.center_text{
    text-align:center;
}

.height_100{
    height: 100%;
}

.margin_auto{
    margin:auto;
}